footer {
  background-color:#8a508f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 125px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: white;
  margin-top: auto;
}

.footer-left{
  display: flex;
  align-items: baseline;
  gap: 15px;
  font-size: 1.3em;
}

.footer-mid{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1em;
}

.footer-mid p {
  margin: 5px 0;
}