.order-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  margin-top: 120px;
  padding: 70px;
  width: 75%;
  background-color: white;
}

.order-logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
}

.order-logo {
  height: 110px;
  width: 110px;
  object-fit: cover;
}